<main class="page-main container-fluid" ng-controller="LanguageCtrl as $ctrl">
	<div class="paper-group">
		<div class="paper-title language">
			<p class="paper-title_body language">
				What language<br>do you speak?
			</p>
		</div>
		<div class="paper-image page">
			<div class="paper-image_body language" ng-class="$ctrl.selectImage()"></div>
		</div>
		<div class="paper left top with-overlay"></div>
		<div class="paper right red stiff">
			<div class="paper-next"></div>
		</div>
	</div>
	<section class="under-paper">
    <div class="big-bracket">
  		<div class="left-bracket">	  [		</div>
      <div class="select-title language" ng-bind="$ctrl.selectedTitle()"></div>
      <div class="right-bracket">		  ]		</div>
    </div>
    <div class="select-list language">
      <div class="two-data">
        <div class="select-img first" ng-click="$ctrl.selectData(0)" ng-style="$ctrl.rmGray(0)">
          <img src="../../media/language/japanese-icon.png" alt="">
        </div>
        <div class="select-img second" ng-click="$ctrl.selectData(1)" ng-style="$ctrl.rmGray(1)">
          <img src="../../media/language/english-icon.png" alt="">
        </div>
      </div>
      <div class="three-data">
        <div class="select-img third" ng-click="$ctrl.selectData(2)" ng-style="$ctrl.rmGray(2)">
          <img src="../../media/language/french-icon.png" alt="">
        </div>
        <div class="select-img forth" ng-click="$ctrl.selectData(3)" ng-style="$ctrl.rmGray(3)">
          <img src="../../media/language/chinese-icon.png" alt="">
        </div>
        <div class="select-img fifth" ng-click="$ctrl.selectData(4)" ng-style="$ctrl.rmGray(4)">
          <img src="../../media/language/german-icon.png" alt="">
        </div>
      </div>
    </div>
	</section>
</main>
