.image-uploader__input {
  display: none;
  visibility: hidden;
}
.image-uploader__button {
  width: 42 / 16rem;
  height: 42 / 16rem;
  background: url('../../media/register-profile.png') center no-repeat;
  background-size: cover;
  border-radius: 100%;
}