<main class="page-login" ng-controller="LoginCtrl as $ctrl">
    <div class="login-pos">
        <img class="login-logo" src="../../media/brand.png">
        <form class="login-box" id="form_login" ng-submit="$ctrl.login()" novalidate>
            <input class="form-input input" name="login" type="email" ng-model="$ctrl.loginObj.login" placeholder="ID">
            <input class="form-input input" name="pwd" type="password" ng-model="$ctrl.loginObj.pwd" placeholder="Password">
            <button class="login-box__submit" translate>LOGIN</button>
        </form>
        <div class="login-actions">
            <a class="login-actions__action" ui-sref="register({edit: false})" translate>Don't have an <span class="login-actions__accent">Account?</span></a>
        </div>
    </div>
    <div class="login-triangle"></div>
</main>
