<main class="page-register" ng-controller="RegisterCtrl as $ctrl">
    <div class="row paper-group">
        <div class="paper top white"></div>
        <div class="paper red"></div>
    </div>
    <div class="container">
        <form class="form" id="form_register" ng-submit="$ctrl.register()" novalidate autocomplete="off">
            <div class="profile-thumbnail">
                <div class="profile-thumbnail__body" ng-style="$ctrl.ProfileImage"></div>
                <image-uploader file-model="$ctrl.imageData"
                                preview-model="$ctrl.imagePreview"
                                orientation-model="$ctrl.imageOrientation"></image-uploader>
            </div>
            <input name="login" class="invalid-by-gradient" ng-class="{'is-invalid': ! $ctrl.IDValid}"
                   ng-model="$ctrl.registerObj.login" placeholder="ID">
            <hr class="login-separator">
            <input name="name" class="input form-input invalid-by-gradient"
                   ng-model="$ctrl.registerObj.name" ng-class="{'is-invalid': ! $ctrl.NameValid}"
                   placeholder="Name">
            <input name="email" class="input form-input invalid-by-gradient" type="email"
                   ng-model="$ctrl.registerObj.email" ng-class="{'is-invalid': ! $ctrl.EmailValid}"
                   placeholder="E - mail">
            <input name="pwd" class="input form-input invalid-by-gradient" type="password"
                   ng-model="$ctrl.registerObj.pwd" ng-class="{'is-invalid': ! $ctrl.PasswordValid}"
                   placeholder="Password">
            <input class="input form-input invalid-by-gradient" type="password"
                   ng-model="$ctrl.registerObj.pwdConfirm" ng-class="{'is-invalid': ! $ctrl.PasswordConfirmValid}"
                   placeholder="Confirm Password">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="input form-input invalid-by-gradient birth" ng-class="{'is-invalid': ! $ctrl.BirthValid}">
                        <div class="row no-gutters">
                            <input class="month input col-4" type="tel" ng-model="$ctrl.BirthMonth"
                                   ng-blur="$ctrl.sanitizeBirth()" placeholder="12" focus-select>
                            <input class="date input col-4" type="tel" ng-model="$ctrl.registerObj.birth.day"
                                   ng-blur="$ctrl.sanitizeBirth()" placeholder="31" focus-select>
                            <input class="year input col-4" type="tel" ng-model="$ctrl.registerObj.birth.year"
                                   ng-blur="$ctrl.sanitizeBirth()" placeholder="1990" focus-select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input form-input invalid-by-gradient gender" ng-class="{'is-invalid': ! $ctrl.GenderValid}">
                        <div class="row no-gutters">
                            <label class="input col-6 left" ng-class="$ctrl.genderChecked('male')">
                                Male<input name="gender" type="radio" value="male" ng-model="$ctrl.registerObj.gender">
                            </label>
                            <label class="input col-6 right" ng-class="$ctrl.genderChecked('female')">
                                Female<input name="gender" type="radio" value="female" ng-model="$ctrl.registerObj.gender">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input form-input invalid-by-gradient nation" ng-class="{'is-invalid': ! $ctrl.NationValid}">
                <div class="row no-gutters">
                    <label class="input col-6 left" ng-class="$ctrl.nationChecked('local')">
                        Local<input name="nation" type="radio" value="local" ng-model="$ctrl.registerObj.nation">
                    </label>
                    <label class="input col-6 right" ng-class="$ctrl.nationChecked('foreigner')">
                        Foreigner<input name="nation" type="radio" value="foreigner" ng-model="$ctrl.registerObj.nation">
                    </label>
                </div>
            </div>
            <button class="button-submit" ng-class="{'is-disabled': ! $ctrl.DataValid}"
                    ng-bind="$ctrl.SignUpLabel"></button>
        </form>
    </div>
</main>