@import (reference) '../../style/includes/index';
@import (reference) '../../style/breakpoints';

simple-calendar {
  display: block;
  font: 1rem Arial, sans-serif;
  position: relative;
  user-select: none;
  @media @smaller {
    font-size: .9rem;
  }
  @media @smallest {
    font-size: .8rem;
  }
}

.scal_view-month {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scal_row {
  display: flex;
  flex-wrap: wrap;
}

.scal_label {
  color: rgba(11, 11, 11, .56);
  display: block;
  font-size: 28.2 / 16em;
  font-weight: 600;
  text-align: center;
}
.scal_nav {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

@c-scal-cell: rgba(11, 11, 11, .6);
.scal_cell {
  color: rgba(11, 11, 11, .6);
  font-size: 26.4 / 16em;
  line-height: 51 / 26.4;
  margin-top: 13 / 26.4em;
  text-align: center;

  &.is-selected {
    color: white;

    &.is-left {
      background: linear-gradient(
              to left,
              fade(@blue, 50%),
              fade(@blue, 50%) 50%,
              transparent 50%,
              transparent 100%
      );
    }
    &.is-right {
      background: linear-gradient(
              to right,
              fade(@blue, 50%),
              fade(@blue, 50%) 50%,
              transparent 50%,
              transparent 100%
      );
    }
  }

  &.is-included {
    background: fade(@blue, 50%);
    color: rgba(11, 11, 11, .7);
  }
}

.scal_day {
  font-size: 24.4 / 16em;
  letter-spacing: -.6 / 16em;
}
.scal_date {
  color: fade(@c-scal-cell, 50%);
}

.scal_7c {
  max-width: 14.28%;
  flex: 0 0 14.28%;
  float: left;
}
.scal_7c-blank {
  opacity: 0;
}

.scal_selector {
  width: 51 / 26.4em; // parent is 7c
  height: 100%;
  border-radius: 100%;
  margin: 0 auto;
}

.is-selected .scal_selector {
  background: @blue;
}