<main class="page-main container-fluid ms-page" ng-controller="Message as $ctrl">
	<div class="paper-group message">
		<div class="paper-title message">
			<div class="back-button-box" ng-click="$ctrl.go('message-box')"><div class="back-button" ></div></div>
			<p class="paper-title_body message" ng-bind="$ctrl.you.name"></p>
		</div>
		<div class="communication-box">
			<div class="communication-box_body">
				<div ng-repeat="c in $ctrl.communication" class="communication-list">
					<div ng-show="$ctrl.isMe($index)" class="me">
						<div class="communication" ng-class="$ctrl.nextMessage($index)"
							 ng-style="$ctrl.myMessage($index)"
							 ng-bind-html="$ctrl.communication[$index].note | trusted"></div>
						<div class="person-img me"
							 ng-style="$ctrl.personImage($index)"
							 ng-show="$ctrl.communicationShow($index)"></div>
					</div>
					<div ng-hide="$ctrl.isMe($index)">
						<div class="person-img you"
							 ng-style="$ctrl.personImage($index)"
							 ng-show="$ctrl.communicationShow($index)"></div>
						<div class="communication" ng-class="$ctrl.nextMessage($index)"
							 ng-bind-html="$ctrl.communication[$index].note | trusted"></div>
					</div>
				</div>
			</div>
		</div>
		<form class="send-message" ng-submit="$ctrl.btnSend()">
			<input class="message-input" ng-model="$ctrl.message_text" placeholder="{{'Write your message' | translate}}">
			<button type="submit" class="btn-message" ng-class="$ctrl.activeBtn()" ng-disabled="$ctrl.btn_disabled"></button>
		</form>
	</div>
</main>
