<main class="page-main container-fluid ms-page" ng-controller="MessageBox as $ctrl">
	<div class="paper-group message">
		<div class="paper-title message">
			<p class="paper-title_body message" translate>
				Message box
			</p>
		</div>
		<div class="message-box_body" ng-style="$ctrl.listHidden()" >
			<div class="message-box">
				<div ng-repeat="d in $ctrl.datalist" class="message-list" ng-style="$ctrl.messagePerson($index)"
				ng-click="$ctrl.go('message', $index)">
					<div ng-style="$ctrl.datalist[$index].url | srcToBackground" class="person-image"></div>
					<div class="person-id" ng-bind="$ctrl.datalist[$index].name"></div>
					<div ng-show="$ctrl.datalist[$index].new_ck=='0'" class="new-message"></div>
				</div>
			</div>
		</div>
	</div>
	<main-nav></main-nav>
</main>
