<main class="page-main container-fluid ms-page" ng-controller="Attraction as $ctrl">
	<div class="paper-group message">
		<div class="paper-title message">
			<p class="paper-title_body message">
				ATTRACTION
			</p>
		</div>

		<div class="attraction-menu">
			<div class = "choice-box" ng-repeat="menu in $ctrl.menu" >
				<div class="at-choice" ng-style="$ctrl.choiceMenu($index)" ng-click="$ctrl.menuClick($index)">
					<div class="menu-name">{{menu}}</div>
				</div>
			</div>
		</div>
		<div class="selection-bar">
			<div class="sb-location"><img class="img-marker" src="../../media/map-marker.png" alt=""><span ng-bind="$ctrl.choiceLocation"></span></div>
		</div>

		<!--지역선택 패널-->
		<div class="at-panel">
			<div class="btn-box">
				<div class="one-btn" ng-repeat="data in $ctrl.all_menu" >
					<button type="button" class="board" ng-click="$ctrl.locationClick($index)" ng-style="$ctrl.locationStyle($index)">{{data}}</button>
				</div>
			</div>
			<div class="panel-close">
				<div class="close-icon" ng-click="$ctrl.menuClick()"></div>
			</div>
		</div>

		<div class="attraction-list_body">
			<div ng-repeat="data in $ctrl.attraction_data" class="attraction-data" ng-style="$ctrl.attractionImg($index)">
				<div class="title-box">
					<span class="at-data-addr"><img class="img-marker white" src="../../media/white-marker.png" alt="">{{data.addr}}</span><br>
					<div class="at-data-name">{{data.title}}</div>
				</div>
				<span class="at-data-period">2017.11.10~<br>2017.12.10</span>
			</div>
		</div>
	</div>
	<main-nav></main-nav>
</main>
