<div ng-controller="LoginCtrl as $ctrl">
    <h2>Login</h2>
    <input type="email" ng-model="$ctrl.loginObj.login" placeholder="Email">
    <input type="password" ng-model="$ctrl.loginObj.pwd" placeholder="Password">
    <p ng-click="$ctrl.login()">Login</p>
    <hr>
    <h2>Register</h2>
    <input type="email" ng-model="$ctrl.registerObj.login" placeholder="Email">
    <input type="password" ng-model="$ctrl.registerObj.pwd" placeholder="Password">
    <input type="password" ng-model="$ctrl.registerObj.pwdConfirm" placeholder="Confirm password">
    <p ng-click="$ctrl.register()">Register</p>
</div>