<div ng-controller="RegisterCtrl as $ctrl">
    <form class="form" id="form_register" ng-submit="$ctrl.register()">
        <input class="form-input" ng-model="$ctrl.registerObj.login" placeholder="Email">
        <input class="form-input" type="password" ng-model="$ctrl.registerObj.pwd" placeholder="Password">
        <input class="form-input" type="password" ng-model="$ctrl.registerObj.pwdConfirm" placeholder="Confirm password">
        <div class="form-thumbnail" ng-style="$ctrl.ProfileImage"></div>
        <profile-uploader file-model="$ctrl.registerObj.image" preview-model="$ctrl.imagePreview"></profile-uploader>
        <button class="form-submit">가입</button>
    </form>
</div>