<div ng-controller="TestSuiteCtrl as $ctrl" class="ts">
	<div class="help">
		<p>구와아악</p>
	</div>
	<hr>
    <form ng-submit="$ctrl.submit()">
        <input type="text" ng-model="$ctrl.action" placeholder="액션" class="action">
		<h3>매개변수</h3>
        <div ng-repeat="param in $ctrl.params">
            <input type="text" ng-model="param.key" placeholder="키" class="key">
            <input type="text" ng-attr-name="{{param.key}}" ng-model="param.value" placeholder="값" class="value">
			<button type="button" ng-click="$ctrl.removeParam($index)" ng-if="$ctrl.params.length" class="remove">제거</button>
        </div>
		<button type="button" ng-click="$ctrl.addParam()" class="add">매개변수 추가</button>
		<button type="submit" class="submit">실행</button>
    </form>
</div>