<div ng-controller="TestSuiteCtrl as $ctrl" class="ts">
    <h2 style="color: red">TEST TEST TEST</h2>
    <p style="color: red">프로덕션에 포함하지 마시오</p>
	<hr>
	<div class="help">
		<p>액션에는 액션명을 기입하시오. add_action('wp_ajax_${액션명}', $callable) 여기에 등록한거</p>
		<p>매개변수에는 서버로 넘길 값을 입력하시오. '키'는 $_REQUEST의 인덱스($_REQUEST['key']), '값'은 그 값.</p>
		<p>값은 무조건 POST로 넘어가니 GET이 필요한 경우 요청하시오.</p>
		<p>서버의 응답은 콘솔에서 확인할 수 있음. data가 "0"일 경우 액션을 잘 추가했는지, die 또는 exit을 사용했는지 확인하시오.</p>
	</div>
	<hr>
    <form ng-submit="$ctrl.submit()">
        <input type="text" ng-model="$ctrl.action" placeholder="액션" class="action">
		<h3>매개변수</h3>
        <div ng-repeat="param in $ctrl.params">
            <input type="text" ng-model="param.key" placeholder="키" class="key">
            <input type="text" ng-model="param.value" placeholder="값" class="value">
			<button type="button" ng-click="$ctrl.removeParam($index)" ng-if="$ctrl.params.length" class="remove">제거</button>
        </div>
		<button type="submit" class="submit">실행</button>
    </form>
	<button ng-click="$ctrl.addParam()" class="add">매개변수 추가</button>
</div>