@import 'normalize';

.button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: top;
}
.form {
  max-width: 88%;
  margin: 0 auto;
}
.form-input {
  display: block;
}
.form-thumbnail {
  width: 200px;
  height: 200px;
  background: whitesmoke no-repeat center;
  background-size: cover;
  border-radius: 100%;
}
.form-submit {
  width: 80px;
  height: 80px;
  background: palevioletred;
  border-radius: 100%;
}