@import 'normalize';

@import 'register';

.button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: top;
}
.form {
  max-width: 88%;
  margin: 0 auto;
}
.form-input {
  display: block;
}