@import (reference) 'includes/index';

@paper-height: 531 / 16rem;
@paper-height-xs: 400 / 16rem;
@paper-height-tall: 577.5 / 16rem;
@paper-height-tall-xs: 430 / 16rem;

.paper-group {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

// 페이퍼 아래 본문
.under-paper {
  padding-top: @paper-height;
	@media @xs-height {
		padding-top: @paper-height-xs;
	}

  &.with-nav {
    padding-bottom: 90 / 16rem;
  }
}

.paper-title {
  width: 100%;
  font-size: 44.7 / 16rem;
  font-weight: 600;
  line-height: 48.4 / 44.7;
  margin-top: 52.5 / 16rem;
  position: relative;
  text-align: center;
  z-index: 10;

  & + .paper-image.page {
    margin-top: 22.5 / 16rem;
  }
}
.paper-title_body {
  width: 266.5 / 16rem;
  display: inline-block;
  text-align: left;
}

// 원 이미지
.paper-image {
  border-radius: 100%;
  position: relative;
  z-index: 10;

  &.profile {
    width: 156 / 16rem;
    height: 156 / 16rem;
    margin: 138 / 16rem auto 0;
  }
  &.page {
    width: 273 / 16rem;
    height: 273 / 16rem;
    margin: 141.5 / 16rem auto 0;
	  @media @xs-height {
		  width: 180 / 16rem;
		  height: 180 / 16rem;
		  margin-top: 80 / 16rem;
	  }
  }
}
//noinspection CssOptimizeSimilarProperties
.paper-image_body {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &.profile {
    background-image: url('../media/default-profile.jpg');
  }
}

// 화살표
.paper-next {
  width: 3rem;
  height: 3rem;
  background: url('../media/next.png') center no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-19deg) translate(-48 / 16rem, -38 / 16rem);
  z-index: 5;
  @media @standard {
    transform: rotate(-19deg) translate(-36 / 16rem, -38 / 16rem);
  }
	@media @xs-width {
		width: 2.2rem;
		height: 2.2rem;
		transform: rotate(-19deg) translate(-24 / 16rem, -24 / 16rem);
	}
}

// 페이퍼
.paper {
  width: 150%;
  height: @paper-height;
  background-color: white;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 0;
  z-index: 2;
	@media @xs-height {
		height: @paper-height-xs;
	}

  &.top {
    z-index: 3;
  }

  &.short {
    height: 305 / 16rem;
  }

  &.left {
    left: 0;
    transform-origin: left bottom;
    transform: translateY(.5rem) rotate(-12deg);
  }
  &.right {
    right: 0;
    transform-origin: right bottom;
    transform: rotate(12deg);

    &.stiff {
      transform: translateY(-100vw * tan(11deg)) translateY(122 / 16rem) rotate(19deg);
	    @media @xs-width {
		    transform: translateY(-100vw * tan(11deg)) translateY(84 / 16rem) rotate(19deg);
	    }
    }
  }

  &.dark-shadow {
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.2);
  }

  &.white {
    background-color: #F8F9F8;
  }
  &.red {
    background-color: @red;
  }
  &.pink {
    background-color: #F5C3C5;
  }
  &.cyan {
    background-color: #7EC7D3;
  }
  &.yellow {
    background-color: @yellow;
  }

  &.with-overlay {
    background-image: url('../media/paper-overlay.png');
  }
  &.with-overlay-blue {
    background-image: url('../media/paper-overlay-blue.png');
  }
  &.with-overlay-pink {
    background-image: url('../media/paper-overlay-pink.png');
  }
  &.with-overlay-yellow {
    background-image: url('../media/paper-overlay-yellow.png');
  }
}

.paper-group.tall {
	.paper-title {
		@media @xs-height {
			margin-top: 26 / 16rem;
		}
	}
	.paper {
		height: @paper-height-tall;
		@media @xs-height {
			height: @paper-height-tall-xs;
		}
	}
	& + .under-paper {
		padding-top: @paper-height-tall;
		@media @xs-height {
			padding-top: @paper-height-tall-xs;
		}
	}
}