<main class="page-main container-fluid ms-page" ng-controller="MatchingSuccessCtrl as $ctrl">
	<div class="matching-helper" ng-hide="$ctrl.matching=='1'" ng-click="$ctrl.helperClose()"><!--도움말-->
		<div class="matching-data">
			<div class="helper step1">
				<img class="share-img" src="../../media/share.png" alt="">
				<img class="number one" src="../../media/one.png" alt="">
				<div class="description-text">
					<span translate>Choose Touriends</span><br><span translate>who you want</span>
				</div>
			</div>
			<div class="helper step2">
				<img class="number" src="../../media/two.png" alt="">
				<div class="description-text">
					Touch <div class="heart"></div>, <span translate>Express interest!</span><br> <span translate>(lists are in Home)</span>
				</div>
			</div>
			<div class="helper step3">
				<img class="number" src="../../media/three.png" alt="">
				<div class="description-text">
					<span translate>If you want to</span><br><span translate> send a message! Touch </span><div class="chat-icon"></div>
					<!--투렌즈와 대화하고 싶다면-->
				</div>
			</div>
			<div class="matching-circle">
				<div class="matching-circle_inner example image"></div>

				<div class="person-group is-visible">
					<div class="choice cancel example"></div>
					<div class="choice message example"></div>
					<div class="choice liked example"></div>
					<div class="choice theme icon culture example"></div>
					<div class="choice language1 icon korean example"></div>
					<div class="choice language2 icon english example"></div>
					<div class="choice language3 icon japanese example"></div>
				</div>
			</div>
			<div class="circle ng-scope large first occupied example-circle"></div>
		</div>
	</div>
	<div class="matching-wrapper">
		<div class="matching-data">
			<div class="matching-circle">
				<div class="matching-circle_inner image" ng-class="{'occupied': $ctrl.isChoice}" ng-style="$ctrl.profileImage()"></div>
				<div class="person-group" ng-class="{'is-visible': $ctrl.isChoice}">
					<div class="choice cancel" ng-click="$ctrl.cancelShow()"></div>
					<div class="choice message" ng-click="$ctrl.go('message')"></div>
					<div class="choice liked" ng-class="{'is-liked': $ctrl.isLiked()}"
					     ng-click="$ctrl.like()"></div>
					<div class="choice theme icon" ng-class="$ctrl.themeData()"></div>
					<div class="choice language1 icon" ng-class="$ctrl.language1Data()"></div>
					<div class="choice language2 icon" ng-class="$ctrl.language2Data()"></div>
					<div class="choice language3 icon" ng-class="$ctrl.language3Data()"></div>
				</div>
				<div class="matching-circle_inner label">
					<div class="wrapper">
						<p class="first-text" translate>Choose your</p>
						<p class="second-text" translate >TOURIENDS</p>
					</div>
				</div>
			</div>
			<div class="circle" ng-repeat="i in $ctrl.repeater track by $index"
			     ng-class="$ctrl.getPersonClasses($index)" ng-style="$ctrl.personData($index)"
			     ng-click="$ctrl.selectPerson($index)"></div>
		</div>
	</div>
	<div class="person-text" ng-show="$ctrl.isChoice" ng-class="{'is-visible': $ctrl.isChoice}" ng-bind="$ctrl.tourComment()"></div>
	<main-nav></main-nav>
	<div class="icon preloader activity"></div>
	<div class="icon preloader chinese"></div>
	<div class="icon preloader culture"></div>
	<div class="icon preloader english"></div>
	<div class="icon preloader exhibition"></div>
	<div class="icon preloader food"></div>
	<div class="icon preloader french"></div>
	<div class="icon preloader german"></div>
	<div class="icon preloader japanese"></div>
	<div class="icon preloader k-pop"></div>
	<div class="icon preloader korean"></div>
	<div class="icon preloader liked"></div>
	<div class="icon preloader message"></div>
	<div class="icon preloader no-liked"></div>
	<div class="icon preloader x-button"></div>
</main>
