<main class="page-main container-fluid ms-page" ng-controller="MatchingSuccessCtrl as $ctrl">
	<div class="matching-wrapper">
		<div class="matching-data">
			<div class="matching-circle">
				<div class="matching-circle_inner image" ng-class="{'occupied': $ctrl.isChoice}" ng-style="$ctrl.profileImage()"></div>
				<div class="person-group" ng-class="{'is-visible': $ctrl.isChoice}">
					<div class="choice cancel" ng-click="$ctrl.cancelShow()"></div>
					<div class="choice message" ng-click="$ctrl.go('message')"></div>
					<div class="choice liked" ng-class="{'is-liked': $ctrl.isLiked()}"
					     ng-click="$ctrl.like()"></div>
					<div class="choice theme icon" ng-class="$ctrl.themeData()"></div>
					<div class="choice language1 icon" ng-class="$ctrl.language1Data()"></div>
					<div class="choice language2 icon" ng-class="$ctrl.language2Data()"></div>
					<div class="choice language3 icon" ng-class="$ctrl.language3Data()"></div>
				</div>
				<div class="matching-circle_inner label">
					<div class="wrapper">
						<p class="first-text" translate>Choose your</p>
						<p class="second-text" translate >TOURIENDS</p>
					</div>
				</div>
			</div>
			<div class="circle" ng-repeat="i in $ctrl.repeater track by $index"
			     ng-class="$ctrl.getPersonClasses($index)" ng-style="$ctrl.personData($index)"
			     ng-click="$ctrl.selectPerson($index)"></div>
		</div>
	</div>
	<div class="person-text" ng-show="$ctrl.isChoice" ng-class="{'is-visible': $ctrl.isChoice}" ng-bind="$ctrl.tourComment()"></div>
	<main-nav></main-nav>
	<div class="icon preloader activity"></div>
	<div class="icon preloader chinese"></div>
	<div class="icon preloader culture"></div>
	<div class="icon preloader english"></div>
	<div class="icon preloader exhibition"></div>
	<div class="icon preloader food"></div>
	<div class="icon preloader french"></div>
	<div class="icon preloader german"></div>
	<div class="icon preloader japanese"></div>
	<div class="icon preloader k-pop"></div>
	<div class="icon preloader korean"></div>
	<div class="icon preloader liked"></div>
	<div class="icon preloader message"></div>
	<div class="icon preloader no-liked"></div>
	<div class="icon preloader x-button"></div>
</main>
