<nav class="main-nav_icons">
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('matching-main')" ng-click="$ctrl.go('matching-main')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('community')" ng-click="$ctrl.go('community')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('main')" ng-click="$ctrl.go('main')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('attraction')" ng-click="$ctrl.go('attraction')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('my')" ng-click="$ctrl.go('my')"></div>
</nav>