<nav class="main-nav_icons">
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('matching')" ng-click="$ctrl.go('matching')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('community')" ng-click="$ctrl.go('community')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('main')" ng-click="$ctrl.go('main')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('attraction')" ng-click="$ctrl.go('attraction')"></div>
	<div class="main-nav_icon" ng-class="$ctrl.getIconClasses('mypage')" ng-click="$ctrl.go('home')"></div>
</nav>