@import (reference) '../index';

@filter-height: 90 / 16rem;

.page-community-list {
	background: #FCFCFC;
}

.community-filter-window {
	height: 0;
	background: white;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 375ms ease;
	visibility: hidden;
	z-index: 99;

	&.is-open {
		height: 100%;
		visibility: visible;
	}

	.close {
		width: 24 / 16rem;
		height: 24 / 16rem;
		background: url('../../media/community/close.png') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.community-filter_body {
	padding-top: 90 / 16rem;

	h1 {
		color: rgba(0, 0, 0, .7);
		font-size: 25.8 / 16rem;
		font-weight: 600;
		margin-top: 2rem;
		text-align: center;
	}

	.age {
		padding: 0 1rem;

		.wrapper {
			height: 139 / 16rem;
			border-radius: .5rem;
			box-shadow: 0 0 4.1px 0.9px rgba(0, 0, 0, 0.07);
			margin-top: .75rem;
			padding: 52.5 / 16rem 62 / 16rem 0;
		}

		.slider {
			height: 1.5rem;
			position: relative;

			.item {
				position: absolute;
				top: 0;

				&:nth-child(1) {
					left: 0;
				}
				&:nth-child(2) {

				}
				&:nth-child(4) {
					right: 0;
				}

				.circle {
					width: 1.5rem;
					height: 1.5rem;
					background: white;
					border: .33rem solid #97d3dd;
					border-radius: 100%;
				}
			}
		}
	}

	.languages {
		.buttons {
			margin-top: 14 / 16rem;
		}
		.button {
			max-width: 114 / 16rem;
			height: 64 / 16rem;
			background: white;
			border-radius: .5rem;
			box-shadow: 0 0 4.1px 0.9px rgba(0, 0, 0, 0.07);
			color: rgba(0, 0, 0, .6);
			cursor: pointer;
			display: flex;
			font-size: 15.4 / 16rem;
			font-family: 'Noto Sans CJK KR', sans-serif;
			margin: .5rem auto;
			transition: 175ms all ease;
			user-select: none;

			&.is-active {
				background: #99D4DE;
				color: white;
			}
		}
	}
}

.community-filter {
	width: 100%;
	height: @filter-height;
	background: white;
	border-bottom: 1px solid #D8D8D8;
	padding: 40 / 16rem 42 / 16rem 1rem 50 / 16rem;
	position: fixed;
	top: 0;
	left: 0;

	label {
		color: rgba(0, 0, 0, .7);
		display: block;
		font-size: 36 / 16rem;
		font-weight: 600;
		line-height: 27 / 16rem;
		text-align: center;
	}

	.wrapper {
		height: 100%;
		padding: 0 48 / 16rem;
		position: relative;
	}

	.search {
		width: 33 / 16rem;
		height: 33 / 16rem;
		background: url('../../media/community/search.png') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
	}

	input {
		max-width: 100%;
		min-width: 0;
		border: none;
		border-bottom: 1px solid #D8D8D8;
		color: rgba(0, 0, 0, .6);
		height: 100%;
		font-size: 28 / 16rem;
		font-weight: 600;
		line-height: 32 / 16rem;
		padding: 0 0 0 19 / 16rem;
	}

	.filter-open {
		width: 2rem;
		height: 2rem;
		background: url('../../media/community/filter.png') center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.community-list {
	padding-top: @filter-height;
}

.community-item {
	height: 143 / 16rem;
	color: rgba(0, 0, 0, .8);
	padding: 13 / 16rem 22 / 16rem;
	position: relative;

	.image {
		width: 69 / 16rem;
		height: 69 / 16rem;
		background: url('../../media/default-profile.jpg') center no-repeat;
		background-size: cover;
		border-radius: 100%;
		float: left;
		margin-right: 11 / 16rem;
	}

	.top {
		font-size: 24 / 16rem;

		* {
			line-height: 31 / 16rem;
		}
		.id {
			margin-right: 10 / 16rem;
		}
		.separator {
			margin-right: 10 / 16rem;
		}
		.age {
			margin-right: 1rem;
		}
	}

	.intro {
		font-size: 20 / 16rem;
		margin-top: .5rem;
	}

	.triangle {
		width: 143 / 16rem;
		height: 88 / 16rem;
		position: absolute;
		right: 0;
		bottom: 0;

		.pattern {
			width: 100%;
			height: 100%;
			border-top: 88 / 32rem solid transparent;
			border-left: 143 / 32rem solid transparent;
			border-right: 143 / 32rem solid #ABDCE4;
			border-bottom: 88 / 32rem solid #ABDCE4;
			position: absolute;
		}

		.icon.liked {
			width: 46 / 16rem;
			height: 46 / 16rem;
			position: absolute;
			right: 1rem;
			bottom: 6 / 16rem;
		}
	}

	.like {
		width: 46 / 16rem;
		height: 46 / 16rem;
	}

	& + & {
		border-top: 1px solid #D8D8D8;
	}
	&:last-child {
		border-bottom: 1px solid #D8D8D8;
	}
}

.community-icon {
	width: 31 / 16rem;
	height: 31 / 16rem;
	display: inline-block;
	margin-right: 7 / 16rem;
	vertical-align: bottom;
}