@import (reference) '../index';

.paper-title_body.language{
  color: @red;
}
.select-list.language .select-img{
  opacity: .5;
}
.select-title.language{
  color:black;
}
.paper-image_body.language {
  background-image: url('../../media/theme/empty-graphic.png');
  &.Japanese {
    background-image: url('../../media/language/japanese.png');
  }
  &.English {
    background-image: url('../../media/language/english.png');
  }
  &.French {
    background-image: url('../../media/language/french.png');
  }
  &.Chinese {
    background-image: url('../../media/language/chinese.png');
  }
  &.German {
    background-image: url('../../media/language/german.png');
  }
}
