@import (reference) '../index';


.paper-image_body.main {
  background-image: url('../../media/paper-image-main.png');
}

.page-main {
  .paper-image .start-btn {
    background: url('../../media/main-start.png') center no-repeat;
    background-size: contain;
    z-index: 3;
    width: 108.5 / 16rem;
    height: 107.5 / 16rem;
    margin: 0 auto;
    position: relative;
    top: -45 / 16rem;
  }

  .add-touriends-text {
    z-index: 3;
    opacity: 0.75;
    text-align: left;
    font-size: 50.7 / 16rem;
    color: rgba(233, 97, 119, 0.75);
    font-weight: 600;
    margin-top: 82.5 / 16rem;
    position: relative;
    width: 100%;
    p {
      margin: 0 auto;
      width: 364 / 16rem !important;
    }
  }
}