@import (reference) '../index';

.page-main.ms-page {
	position: relative;
}

.matching-wrapper {
	height: 100%;
	min-height: 791.5 / 16rem;
	position: relative;
}
.matching-data {
	max-width: 531 / 16rem;
	height: 731.5 / 16rem;
	font-size: 1rem;
	margin: auto;
	position: relative;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);

	.circle {
		background: #DADADA center no-repeat;
		background-size: cover;
		border-radius: 100%;
		display: inline-block;
		position: absolute;

		&.occupied {
			border: 1px solid #DADADA;
		}

		&.liked::after {
			content: '';
			width: calc(~'100% + 6px');
			height: calc(~'100% + 6px');
			background: #73C5D2;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			top: 0;
			right: -3px;
			bottom: 0;
			z-index: -1;
		}

		&.small {
			width: 88.5 / 16em;
			height: 88.5 / 16em;
			&.first {
				top: 72 / 16em;
				left: 214 / 16em;
			}
			&.second {
				top: 177 / 16em;
				right: 43 / 16em;
			}
			&.third {
				top: 473.5 / 16em;
				left: 174 / 16em;
			}
			&.fourth {
				top: 635.5 / 16em;
				left: 108 / 16em;
			}
		}
		&.middle {
			width: 118.5 / 16em;
			height: 118.5 / 16em;
			&.first {
				top: 198 / 16em;
				left: -20 / 16em;
			}
			&.second {
				top: 529.5 / 16em;
				left: 11.5 / 16em;
			}
			&.third {
				top: 566.5 / 16em;
				left: 204 / 16em;
			}
			&.fourth {
				top: 570 / 16em;
				right: -13 / 16em;
			}
		}
		&.large {
			width: 162 / 16em;
			height: 162 / 16em;
			&.first {
				top: 15 / 16em;
				left: 16.5 / 16em;
			}
			&.second {
				top: 0 / 16em;
				right: -10 / 16em;
			}
			&.third {
				top: 353.5 / 16em;
				left: 0;
			}
			&.fourth {
				top: 407 / 16em;
				right: 31.5 / 16em;
			}
		}
	}
}
.matching-circle {
	width: 273 / 16rem;
	height: 273 / 16rem;
	background: #73c5d2;
	border-radius: 100%;
	line-height: 1.08;
	margin: 0 auto;
	position: absolute;
	top: 171 / 16rem;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
	.first-text {
		font-size: 29 / 16rem;
		color: rgba(233, 95, 118, 0.8);
	}
	.second-text {
		font-size: 34 / 16rem;
		color: #e95f76;
		font-weight: 900;
	}
}
.matching-circle_inner {
	width: 176 / 16rem;
	height: 176 / 16rem;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);

	&.image {
		background: white center no-repeat;
		background-size: cover;
		border-radius: 100%;
		transition: opacity 350ms ease;
		z-index: 10;
	}
	&.label {
		background: white;
		border-radius: 100%;

		.wrapper {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
		}
	}
}
.circle.occupied,
.matching-circle_inner.image.occupied {
	background-image: url('../../media/default-profile.jpg');
}

.choice {
	.delay(@pos) {
		&:nth-child(@{pos}) {
			transition-delay: 25ms * (@pos - 1);
		}
	}

	width: 45.5 / 16rem;
	height: 45.5 / 16rem;
	background: center no-repeat;
	background-size: cover;
	display: inline-block;
	opacity: 0;
	position: absolute;
	transition: opacity 250ms ease;
	z-index: 15;

	.delay(2);
	.delay(3);
	.delay(4);
	.delay(5);
	.delay(6);
	.delay(7);

	&.language1 {
		top: 13.5 / 16rem;
		left: 64 / 16rem;
	}
	&.language2 {
		top: 46 / 16rem;
		left: 24.5 / 16rem;
	}
	&.language3 {
		top: 93 / 16rem;
		left: 3.5 / 16rem;
	}

	&.theme {
		top: 2 / 16rem;
		left: 114 / 16rem;
	}

	&.liked {
		top: 12.5 / 16rem;
		left: 163.5 / 16rem;
		background-image: url('../../media/icons/not.liked.png');
		&.is-liked {
			background-image: url('../../media/icons/liked.png');
		}
	}
	&.message {
		top: 45.5 / 16rem;
		left: 204 / 16rem;
		background-image: url('../../media/icons/message.png');
	}
	&.cancel {
		top: 94.5 / 16rem;
		left: 224.5 / 16rem;
		background-image: url('../../media/icons/x-button.png');
	}
}
.is-visible .choice {
	opacity: 1;
}

.person-text {
	height: 309.5 / 16rem;
	background: linear-gradient(rgba(249, 247, 247, 0),rgba(66, 66, 66, 0.78) 90%); // iOS 에서 transparent 키워드 안됨
	color: white;
	font-family: Yanolja, 'Noto Sans KR', sans-serif;
	line-height: 30px;
	font-size: 25.6 / 16rem;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 72.5 / 16rem; // main-nav 높이
	opacity: 0;
	padding: 69 / 16rem 32 / 16rem 72.5 / 16rem;
	transition: opacity 175ms ease;

	&.is-visible {
		opacity: 1;
	}
}
