.page-register {
  .form {
    padding-top: 300 / 16rem;
  }

  image-uploader {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .form-container {
    padding: 0 51 / 16rem;
  }

  input[name=login] {
    width: 100%;
    background: none;
    border: none;
    display: block;
    font-size: 36 / 16rem;
    line-height: 52 / 36;
    margin: 0 auto;
    text-align: center;
  }
  .login-separator {
    width: 118.5 / 16rem;
    height: 2px;
    background: #DCDCDC;
    border: none;
    margin: 0 auto;
  }

  input[type=radio] {
    display: none;
    visibility: hidden;
  }

  .birth {
    input {
      text-align: center;
    }
  }
  .gender,
  .nation {
    padding: 0;

    label {
      text-align: center;
    }
  }

  .button-submit {
    margin: 61 / 16rem auto 0;
  }
}
