.page-register {
  .paper {
    width: 150%;
    height: 305 / 16rem;
  }
  .paper.red {
    transform-origin: left bottom;
    transform: translateY(8px) rotate(-10deg);
    left: 0;
  }
  .paper.white {
    transform-origin: right bottom;
    transform: rotate(10deg);
    right: 0;
  }

  .profile-group {
    position: relative;
  }
  .profile-thumbnail {
    width: 200px;
    height: 200px;
    background: whitesmoke no-repeat center;
    background-size: cover;
    border-radius: 100%;
  }
}