@import (reference) '../index';


.big-bracket{
  width: 235 / 16rem;
  font-size: 40.2 / 16rem;
  color: #f5b9bd;
  margin : 0 auto;
  position : relative;
  line-height: 1;
  .left-bracket{
    float: left;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .right-bracket{
    float: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .select-title{
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 29.3 / 16rem;
    line-height: 40.2 / 29.3;
    font-style: italic;
  }
}
.select-list{
  margin-top: 62.5 / 16rem;
  text-align: center;
  .select-img{
    display: inline-block;
    width: 132 / 16rem;
    height: auto;
    filter: grayscale(100%);
  }
  .second{
    margin-left: 35 / 16rem;
  }
  .forth, .fifth{
    margin-left: 23.5 / 16rem;
  }
}
