@import (reference) '../index';

.paper-title.theme {
  color: #F5C3C5;
}
.paper-title_body.theme {
  width: 410 / 16rem;
  font-size: 45.6 / 16rem;
  font-weight: 600;
  line-height: 1.06;
}

.paper-image_body.theme {
  background-image: url('../../media/theme/empty-graphic.png');
  &.k-pop {
    background-image: url('../../media/theme/k-pop-graphic.png');
  }
  &.food {
    background-image: url('../../media/theme/food-graphic.png');
  }
  &.exhibition {
    background-image: url('../../media/theme/exhibition-graphic.png');
  }
  &.culture {
    background-image: url('../../media/theme/culture-graphic.png');
  }
  &.activity {
    background-image: url('../../media/theme/activity-graphic.png');
  }
}
