<main class="community-item" ng-controller="CommunityItemCtrl as $ctrl">
	<header class="community-header">
		<div class="wrapper">
			<div class="close" ng-click="$ctrl.goBack()"></div>
			<label ng-bind="$ctrl.data.login"></label>
		</div>
	</header>
	<div class="paper-group">
		<div class="paper-image profile">
			<div class="paper-image_body profile" ng-style="$ctrl.data.image | srcToBackground"></div>
			<div class="right">
				<p class="paper-id"><span ng-bind="$ctrl.data.login"></span> / <span ng-bind="$ctrl.data.age"></span></p>
				<p class="intro" ng-bind="$ctrl.data.intro"></p>
				<div class="icons">
					<div class="icon" ng-class="$ctrl.data.theme"></div>
					<div class="icon" ng-repeat="lang in $ctrl.data.languages" ng-class="lang"></div>
				</div>
			</div>
		</div>
		<div class="paper left top"></div>
		<div class="paper right stiff cyan"></div>
	</div>
	<div class="under-paper container-fluid">
		<p ng-bind="$ctrl.data.comment"></p>
		<div class="icons">
			<div class="icon message" ui-sref="message({id: $ctrl.uid})"></div>
			<div class="icon liked" ng-class="{'not': ! $ctrl.data.liked}" ng-click="$ctrl.like()"></div>
		</div>
	</div>
	<main-nav></main-nav>
</main>